/* Body styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: small;
  line-height: 1.5;
  background-color: #222;
  color: #fff;
}

/* Event details */
.event-details {
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
  padding: 20px;
}

.event-details h1 {
  text-align: left;
  padding-left: 5px;
  border-left: solid 1px #fff;
}

/*Event escription*/
.event-description{
  display: flex;
}

.event-description img {
  width: 50%;
  margin-right: 20px;
}

.list-event {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.list-event .event-details-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-event .event-details-list li {
  margin-bottom: 10px;
}

.list-event p {
  margin-top: 10px;
  text-align: left;
}

.buy-tickets-btn {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
  font-size: 1.2em;
}

.buy-tickets-btn:hover {
  background-color: transparent;
  color: lightblue;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  .event-details {
    display: block;
    align-items: left;
  }

  .event-details img {
    width: 100%;
    margin-bottom: 20px;
  }

  .event-description{
    display: block;
  }

  .list-event {
    width: 100%;
  }
}
