/* Body styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #222;
    color: #fff;
  }
  
  /* Main section styles */
  .main {
    max-width: 960px;
    margin: 10px auto 0;
    padding: 0 30px;
  }
  
  /* Contact form styles */
  form {
    display: flex;
    flex-direction: column;
    border: #fff;
    border-radius: 1px;
    padding: 10px;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 10px;
  }

  textarea{
    height: 150px;
  }
  
  input,
  textarea {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 1px;
    border: none;
  }
  
  .main h2 {
    font-size: 36px;
    margin-bottom: 30px;
    border-left: 1px solid #fff;
    padding-left: 10px;
  }

  button[type="submit"] {
    background-color: #414244;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #666;
  }

  /*Contact Area*/
  .contact-page {
    display: flex;
    justify-content: space-between;
  }

  .contact-details {
    display: block;
    align-items: left;
    padding: 20px;
    margin-top: 0;
  }
  
  .contact-details i{
    display: block;
  }

  .contact-details li{
    display: flex;
  }

  .contact-details h1{
    margin-top: 0;
    border-left: 1px solid #fff;
    padding-left: 10px;
  }

  .contact-details i {
    margin-right: 5px;
  }
  
  .contact-details ul li a {
    display: flex;
    width: 25px;
    height: 25px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    justify-content: center;
  }

  .py-4{
    display: flex;
  }

  .material{
    display: block;
    flex-direction: column;
  }

  .material-icons {
    display: block;
    font-size: 15px;
    color: #fff;
  }
  
  /* Set the style for the icon on hover */
  .contact-details ul li a:hover {
    background-color: #fff;
    color: #000;
    padding: 10px;
  }
    
  .contact-details span {
    font-size: 1.2em;
  }

  .contact-form {
    margin-top: 10px;
    flex-basis: 50%;
  }

  @media only screen and (max-width: 768px) {
    .contact-page{
      display: block;
    }
  }
