/* Body styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #222;
  color: #fff;
}

/* Main section styles */
.main {
  max-width: 960px;
  margin: 10px auto 0;
  padding: 0 30px;
  text-align: center;
}

/* Featured events section styles */
#featured-events-section {
  margin-top: 50px;
}

#featured-events-section h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

#featured-events-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

#featured-events-section li {
  margin-right: 30px;
  margin-bottom: 30px;
  flex: 1 1 300px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #222;
  color: #444;
}

#featured-events-section li:last-child {
  margin-right: 0;
}

#featured-events-section a {
  color: #444;
  text-decoration: none;
}

#featured-events-section img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

#featured-events-section h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

#featured-events-section p {
  font-size: 16px;
  margin: 0;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
}

.btn-form {
  text-align: center;
}

.button,
.event-list li a {
  background-color: #414244;
  color: #fff;
  border: transparent;
  border-radius: 10px;
  max-width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
}

.event-list {
  list-style: none;
  margin-top: 30px;
}

.event-list li {
  margin-bottom: 30px;
  background-color: #222;
  color: #ffffff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.event-list li h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.event-list li img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.event-list li p {
  font-size: 16px;
  margin-bottom: 5px;
}

.button:hover,
.event-list li a:hover {
  background-color: #222;
}
