/*Body*/
body{
  font-size: small;
}
/* Navigation bar styles */
.nav-wrapper {
  background-color: #333;
  height: auto;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Updated */
  text-align: center;
  font-size: small;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: lightblue;
}

/* Logo styles */
.nav-logo{
  max-width: 10%;
}

.nav-logo img  {
  max-width: 90px;
  height: auto;
}

/* Navigation links styles */
.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end; /* Updated */
}

.nav-links a {
  display: block;
  padding: 0 20px;
  line-height: 80px;
  text-decoration: none;
}

.nav-links a:hover {
  color: lightblue;
}

.hamburger {
  display: none;
  cursor: pointer;
}

/* Navigation links styles for smaller screens */
@media only screen and (max-width: 800px) {
  /* Logo styles */
.nav-logo{
  max-width: 10%;
}

.nav-logo img  {
  max-width: 70px;
  height: auto;
}
  .nav-wrapper {
  justify-content: space-between;
  align-items: center;
  }
    
  .hamburger {
  display: block;
  }
  
  .nav-links {
  display: none;
  flex-direction: column;
  background-color: #444;
  padding: 20px;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  }
  
  .nav-links.show {
  display: flex;
  }
  
  .nav-links a {
  line-height: 30px;
  }
  
  .hamburger span {
  display: block;
  height: 3px;
  width: 25px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  }
  
  .hamburger span:nth-child(2) {
  width: 20px;
  }
  
  .hamburger span:nth-child(3) {
  width: 15px;
  }
  /*Footer*/
  footer{
    font-size: small;
    text-align: center;
  }
  
 /* Top Footer */
 .top-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

/* Lower Footer */
.lower-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  padding-top: 10px;
  border-top: 1px solid #666;
}

.lower-footer li {
  text-align: left;
}

}

/*contact-info*/
#contact-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #666;
  color: white;
  font-size: 11px;
  top: 0;
  padding: 5px;
}

#contact-info a {
  margin-left: 10px;
}

#contact-info span {
  margin-right: 10px;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  font-size: small;
  }
  
  footer a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  }
  
  /* Social media links */
  .socials, .more, .cont {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  }
  
  .socials li, .more li, .cont li {
  margin-bottom: 10px;
  }
  
  .socials a, .more a, .cont a {
  color: #fff;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  }
  
  .socials a:hover, .more a:hover, .cont a:hover {
  color: lightblue;
  }
  
  .socials a i {
  margin-right: 5px;
  }
  
/* Top footer styles */
.top-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 20px;
}

/* Lower footer styles */
.lower-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  padding-top: 10px;
  border-top: 1px solid #666;
}

.lower-footer li {
  text-align: left;
}

  
